{% extends "tafl/interior_base.html" %}
{% block title %}About Tafl{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <h3>Navigation</h3>
    <ul>
      <li><a href="#what">What is Tafl?</a></li>
      <li><a href="#rules">General Rules</a>
	<ul>
	  <li><a href="#tablut">Tablut</a></li>
	  <li><a href="#brandubh">Brandubh</a></li>
	</ul>
      </li>
      <li><a href="#strategy">Basic Strategy</a></li>
    </ul>
    
    <h1 id="what">What is Tafl?</h1>
    <p>
      Tafl is a family of ancient Germanic boardgames. Gameplay is asymmetric - white's goal is for their king to escape to an edge or corner of the board, while black's is to capture white's king. There are several variants of tafl from different places and periods of history, some better documented than others (being so old, many details of these games have been lost to history). This site offers the variants Tablut and Brandubh.
    </p>

    <h1 id="rules">Rules</h1>
    <p>
      The basic rules are the same across all variants. Those variants' particulars can be found under their specific sections.
    </p>

    <ul>
      <li><a href="#tablut">Tablut</a></li>
      <li><a href="#brandubh">Brandubh</a></li>
    </ul>
    
    <h2>General Tafl Rules</h2>
    <h4>Basics</h4>
    <p>
      Tafl is played on a square board broken into a grid (the size varies from variant to variant).
    </p>
    <p>
    There are two players - white and black. Both have some number of pawns, and white also has a king (distinguished from the pawns by the cross drawn on it). White wants to get their king to escape to the periphery of the board (whether to an edge or to a corner depends on variant). Black wants to capture white's king (how to do so will be explained in a bit). Players take turns, moving one piece per turn.
    </p>
    <h4>Movement</h4>
    <p>
      All pieces may move like rooks in chess - along a horizontal or vertical (but not diagonal) line as far as that path is clear - ie you cannot jump other pieces. (These diagrams are drawn on Tablut boards, but the rules depicted are true for any variant.)
    </p>
    <img src="{% static "tafl/tablutMovement.png" %}" alt="alt:movement diagrams" class="img-responsive"/>
    <p>
      The square the king starts on (it will be the middle square of the board) is the throne. Pieces may not stop on the throne, though they may move across it (even the king - once it has moved off the throne it cannot stop on there again).
    </p>
    <img src="{% static "tafl/tablutThrone.png" %}" alt="alt:throne movement diagram" class="img-responsive"/>
    <p>
      The corners of the board are also off-limits.
    </p>
    
    <h4>Capturing</h4>
    <p>
      Pawns are captured by sandwiching them between two pieces of your own color, as seen below. Both players may capture pawns, however note that the king is weaponless and thus cannot be one of the capturing pieces. More than one piece can be captured with one move, if that move lines up more than one capture.
    </p>
    <img src="{% static "tafl/tablutCapture.png" %}" alt="alt:pawn capture" class="img-responsive"/>
    <p>
      Capture only occurs when a captor moves into position. So if you move a piece in between two of your opponent's pieces, it will not be captured.
    </p>
    <p>
      The king is captured by surrounding it on all four sides.
    </p><!-- @TODO - throne capture -->
    <img src="{% static "tafl/tablutCaptureKing.png" %}" alt="alt:king capture" class="img-responsive"/>


    <h2 id="tablut">Tablut</h2>
    <p>(pronounced "tabloot")</p>
    <h4>The Board </h4>
    <p>Tablut is played on a 9x9 board. The game begins with pieces arranged as so:</p>
    <img src="{% static "tafl/tablutBoard.png" %}" alt="alt:diagram of a tablut board" class="img-responsive"/>
    
    <h4>Win conditions</h4>
    <p>
      Black wins by capturing white's king, as described above.
    </p>
    <p>
      White wins by getting the king to any edge square of the board.
    </p>
    <img src="{% static "tafl/tablutWinzones.png" %}" alt="alt:tablut winzones" class="img-responsive"/>
    

    <h2 id="brandubh">Brandubh</h2>
    <p>(pronounced "brandoov")</p>
    <h4>The Board</h4>
    <p>Brandubh is played on a 7x7 board. The game begins with pieces arranged as so:</p>
    <img src="{% static "tafl/brandubhBoard.png" %}" alt="alt:diagram of a brandubh board" class="img-responsive"/>

    <h4>Win conditions</h4>
    <p>
      Black wins by capturing white's king, as described above. The king can be captured against the edge of the board - if it's on an edge square and surrounded by three black pawns on all other sides, that counts as black victory.
    </p>
    <p>
      White wins by getting the king to any corner square of the board. (The rule that corners are off-limits is still true for pawns, though obviously not for the king in this variant.)
    </p>
    <img src="{% static "tafl/brandubhWinzones.png" %}" alt="alt:brandubh winzones" class="img-responsive"/>
    
    <h1 id="strategy">Basic Strategy</h1>
    <p>
      As with any strategy game, there are a whole bunch of tactics and tricks to learn to get good at tafl. Here, we offer some basic considerations to get you started.
    </p>
    
    <p>
      If you have played something like chess or checkers, you are probably used to thinking in terms of capturing pieces. This is not the best way to think about tafl! Think rather in terms of blocking off lines of enemy movement. If you're white, you want to open up areas where you king can move freely, so try to block black from getting into your space. If you're black, you want to get in white's way and keep them from moving where they want.
    </p>
    <p>
      That said, capturing is still useful. Capturing a piece out of the way may be a good move. Note, however, that capturing overall tends to benefit white, as it clears the board of obstructions to the king's escape.
    </p>
    
    </br></br>
  </div>
</div>
{% endblock %}
