{% extends "tafl/interior_base.html" %}
{% block title %} Game Page {% endblock %}
{% load staticfiles %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'tafl/gamepage.css' %}">
<script type="text/javascript" src="{% static 'tafl/ws4redis.js' %}"></script>
{% endblock %}
    
{% block content %}
  <div id="labels" class="col-md-2">
    <span id="resign-btn">
      <form action="/tafl/resign" method="post" onsubmit="return confirm('Are you sure you want to resign?');">
        {% csrf_token %}
        <input class="btn" type="submit" value="Resign">
      </form>
    </span>
    <span id="rules-btn"> 
      <button type="button" class="btn" data-toggle="modal" data-target="#rulesModal">Rules</button>
    </span>
    {% if game.white_player == player%}
      <span id="id-you"> 
        <h3>You:<br>(White)</h3>
        <h3>{{game.white_player.user.username}}</h3> 
      </span>
      <span id="id-opp">
        <h3>Opponent: <br>(Black)</h3>
        <h3 id="opponent_title">{{game.black_player.user.username}}</h3>
      </span>
      <span id="opp-turn-id" class="black-id">
        <img src="{% static 'tafl/triangle.png' %}" alt="up-triangle" height="60" width="80">
      </span>
      <span id="you-turn-id" class="white-id">
        <img src="{% static 'tafl/triangle.png' %}" alt="down-triangle" height="60" width="80">
      </span>
    {% else %}
      <span id="id-you">
        <h3>You: <br>(Black)</h3>
        <h3>{{game.black_player.user.username}}</h3>
      </span>
      <span id="id-opp">
        <h3>Opponent: <br>(White)</h3>
        <h3>{{game.white_player.user.username}}</h3>
      </span>
      <span id="opp-turn-id" class="white-id">
        <img src="{% static 'tafl/triangle.png' %}" alt="up-triangle" height="60" width="80">
      </span>
      <span id="you-turn-id" class="black-id">
        <img src="{% static 'tafl/triangle.png' %}" alt="down-triangle" height="60" width="80">
      </span>
    {% endif %}
  </div>
  <div id="board-container" class="col-md-7">
    <!-- Bootstrap modals. They are just fancy popups. -->

    <!-- Waiting for player modal -->
    <div id="waitingModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          <h4 class="modal-title">Waiting on other player</h4>
          </div>
          <div class="modal-body">
            <p>Please wait until another player joins your game. </p>
            <p>In the future there will be an option to cancel this game. </p>
          </div>
        </div>
      </div>
    </div>

    <!-- End of game -->
    <div id="gameoverModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Game Over!</h4>
          </div>
          <div id="game-over-modal-body" class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Rules modal -->
    <div id="rulesModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Quick Rules</h4>
          </div>
          <div class="modal-body">
            <!-- This is the rules dialog, only modify the text in here -->
            {% if game.ruleset.win_cond == "EDGE" %}
            White - get your king to an edge square.
            {% else %}
            White - get your king to a corner.
            {% endif %}
            <br>Black - capture the king by surrounding it on all 4 sides.
            <br>To capture a pawn - bracket on 2 sides. Note, king can't capture.
            <br>All pieces move as far as is open horizontally or vertically.
            <br>You can't move onto corners or the throne (but can move through the throne).
            <!-- end of rules dialog -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of modals -->

    {% regroup game.squares.all by x_coord as rows %}
    {% for row in rows %}
      <div class='board-row'>
        {% for cell in row.list|dictsort:"y_coord" %}
          <div data-id="[{{cell.x_coord}}, {{cell.y_coord}}]" class="board-cell">
            {% if cell.member.color == "BL" %}
              <div class="tafl-piece black"></div>
            {% elif cell.member.p_type == "KING" %}
              <div class="tafl-piece white king"></div>
            {% elif cell.member.color == "WH" %}
              <div class="tafl-piece white"></div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div id="chat" class="col-md-3">
    <h2>Chat</h2>
    <hr>
    <div id="chat_messages">
      {% for message in messages %}
        {{message.user.username}}: {{message.text}}
        <br>
      {% endfor %}
    </div>
    <form id="chatForm" class="form" action="{% url 'sendMessage' %}" method="post">
      {% csrf_token %}
      <input type="text" id="inputUserPost" name="text" class="form-control" 
       placeholder="Chat here" required autofocus>
      <div>
        <div id="chat_checkbox">
          <input id="chat_disable" type="checkbox" name="chat_disable" value="disable">
          Disable Chat
        </div>
        <button id="ChatPostButton" class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <script>
  {% include "tafl/gamepage.js" %}
  </script>
{% endblock %}
