{% extends "tafl/base.html" %}
{% block title %}Welcome to Tafl Buddies!{% endblock %}
{% load staticfiles %}

{% block header %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <h4>Log in: </h4>
    <form class="form-horizontal" role="form" method="post" action="{% url 'login' %}">
      {% for field in lform %}
      {{field.label_tag}} {{ field }}
      {% endfor %}
      <button class="btn btn-primary" type="submit">Login</button>
      {% csrf_token %}
    </form>
    {% for error in lform.non_field_errors %}
    <p style="color:red">{{error}}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <h1>What is Tafl?</h1>
    <p>
      Tafl games are a family of ancient Germanic and Celtic strategy board games played on a checkered or latticed gameboard with two armies of uneven numbers, representing variants of an early Scandinavian board game called tafl or hnefatafl in contemporary literature.
      <br>
      <br>
      Although the size of the board and the number of pieces varied, all games involved a distinctive 2:1 ratio of pieces, with the lesser side having a king-piece that started in the centre. The king's objective was to escape to (variously) the board's periphery or corners, while the greater force's objective was to capture him. 
      <br>
      <br>
      - "Tafl Games" entry on Wikipedia
    </p>
  </div>
  <div class="col-md-8">
    <h3>Not a user?</h3>
    <div class="panel panel-default">
      <div class="panel-heading">
	Register now!
      </div>
      <div class="panel-body">
	{% for error in rform.non_field_errors %}
	<p style="color:red">
	  {{ error }}
	</p>
	{% endfor %}
	<form class="form-horizontal" role="form" method="post" action="{% url 'register' %}">
	  {% for field in rform %}
	  <div class="row">
	    <div class="col-md-4">
	      {{ field.label_tag }}
	    </div>
	    <div class="col-md-3">
	      {{ field }}
	    </div>
	    <div class="col-md-4">
	      {{ field.errors }}
	    </div>
	  </div>
	  {% endfor %}
	  <button class="btn btn-primary" type="submit">Register</button>
	  {% csrf_token %}
	</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
