{% extends "tafl/interior_base.html" %}
{% block title %} {{ puser.username }} {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-7">
    <h1>{{ puser.username }}</h1>
  </div>
  <div>
    <h1>rank: {{ rank }}</h1>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2">
	<label># games</label>
      </div>
      <div class="col-md-2">
	<label>won</label>
      </div>
      <div class="col-md-2">
	<label>lost</label>
      </div>
      <div class="col-md-4">
	<form role="role">
	  <label for="sel1">filter by variant:</label>
	  <select class="form-control" id="sel1">
	    <option>Tablut</option>
	  </select>
	</form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
	Overall
      </div>
      <div class="col-md-2">
	{{ overalltotal }}
      </div>
      <div class="col-md-2">
	{{ overallwin }}
      </div>
      <div class="col-md-2">
	{{ overalllose }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
	White
      </div>
      <div class="col-md-2">
	{{ whitetotal }}
      </div>
      <div class="col-md-2">
	{{ whitewin }}
      </div>
      <div class="col-md-2">
	{{ whitelose }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
	Black
      </div>
      <div class="col-md-2">
	{{ blacktotal }}
      </div>
      <div class="col-md-2">
	{{ blackwin }}
      </div>
      <div class="col-md-2">
	{{ blacklose }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
