body{
    margin:0px;
    padding:0px;
}

hr {
    border: 1px solid black;
}

.black {
    background-color: black;
}

.white {
    background-color: ghostwhite;
}

#labels{
    height: 630px;
}

#id-opp {
    position: absolute;
    top: 0px;
    left: 0px;
}

#id-you {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#resign-btn {
    position: absolute;
    top: 45%;
    left: 0px;
}

#rules-btn {
    position: absolute;
    top: 55%;
    left: 0px;
}

.board-row {
    clear: left;
}

.board-cell {
    background-color: khaki;
    border: 1px solid black;
    float: left;
    width:70px;
    height:70px;
}

.tafl-piece {
    border: 1px solid black;
    width:90%;
    height: 90%;
    border-radius: 30px;
    margin: 4px;
    text-align: center;
    padding-top: 18px;
}

#chat {
    border: 1px solid black;
    border-radius: 5px;
    height: 630px;
    background-color: ghostwhite;
}

#chat form {
    position: absolute;
    bottom: 0px;
    width:100%;
    left: 0px;
}

#ChatPostButton {
    float:right;
}