body{
    margin:0px;
    padding:0px;
}

h3{
    margin-top: 0px;
}

hr {
    border: 1px solid black;
}

.black {
    background-color: black;
}

.king {
    background:url(http://mathworld.wolfram.com/images/eps-gif/GreekCross_1200.gif);
    background-size: 89% 89%;
    background-repeat: no-repeat;
    background-position: center;
}

.throne {
    background:url(/static/tafl/x.png);
    background-size:100% 100%;
}

.white {
    background-color: ghostwhite;
}

.blacktxt {
    color: black;
}

.whitetxt {
    color: ghostwhite;
}

#labels{
    height: 630px;
}

#id-opp {
    position: absolute;
    top: 0px;
    left: 0px;
}

#id-you {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#opp-turn-id {
    position: absolute;
    top: 15%;
    left: 0px;
}

#you-turn-id {
    position: absolute;
    top: 75%;
    left: 0px;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

#resign-btn {
    position: absolute;
    top: 45%;
    left: 0px;
}

#rules-btn {
    position: absolute;
    top: 55%;
    left: 0px;
}

.board-row {
    clear: left;
}

.board-cell {
    background-color: khaki;
    border: 1px solid black;
    float: left;
    width:70px;
    height:70px;
}

.tafl-piece {
    border: 1px solid black;
    width:90%;
    height: 90%;
    border-radius: 30px;
    margin: 3px;
    text-align: center;
    padding-top: 18px;
    box-shadow: 2px 3px 10px;
}

#chat {
    border: 1px solid black;
    border-radius: 5px;
    height: 630px;
    background-color: ghostwhite;
}

#chat form {
    position: absolute;
    bottom: 0px;
    width:100%;
    left: 0px;
}

#ChatPostButton {
    float:right;
}

#chat_messages {
    word-wrap: break-word;
    height: 70%;
    overflow: scroll;
}

#chat_checkbox {
    float: left;
    margin-left: 10px;
}